.key {
	padding-left: $left;
	padding-right: $right;

	ul {
		margin-bottom: 0;
		padding-left: 0;
	}

	ul li {
		display: inline-block;
		padding: 3px 10px 1px 0;
		margin: 5px 8px 5px 0;

		border-bottom-width: 5px;
		border-bottom-style: solid;

		label {
			cursor: pointer;
		}
	}
}

input[type="checkbox"] {
	cursor: pointer;
	margin-right: 5px;
}

input[type="checkbox"]:checked:after {
	display: inline-block;
	opacity: 1;
}
