.chart, .widget-slider {
	position: relative;

	.axis {
		path, line {
			fill: none;
			stroke: #666;
			shape-rendering: crispEdges;
		}
	}

	text {
		font-family: sans-serif;
		fill: #666;
		font-size: 13px;
		shape-rendering: crispEdges;
	}

	circle {
		-webkit-transition: opacity 0.2s ease;
		transition: opacity 0.2s ease;
	}
}

.hidden {
	opacity: 0;
	pointer-events: none;
}

.chart {
	.tick.major {
			stroke-dasharray: 2, 2;
	}

	.scatterGroup circle {
		cursor: pointer;
	}
}

.widget-slider {
	.axis {
		pointer-events: none;
	}

	.handle {
		cursor: pointer;
	}

	// .slider rect.background {
	// 	cursor: auto;
	// }
}