// All of this sits within the .outerwrapper selector

h2,h3,p,ul {
	padding: 10px 10px 0 10px;
	margin: 0;
}

h3 {
	margin-left: $left;
	padding-left: 0;
}

ul {
	padding-left: 30px;
	padding-right: 10px;

}

li {
	list-style: disc;
}

.widget-footnote {
	margin-left: $left;
	padding-bottom: 10px;
	
	p {
		font-size: 80%;
		line-height: 1.4em;
		padding-left: 0;
	}
}