.status-message {
  border: 1px solid #c00;
  background: #fac7c7;
  padding: 10px;
  display: none;
}

.js-disabled .status-message, .ie6 .status-message, .ie7 .status-message, .ie8 .status-message {
  display: block;
}

.outerwrapper {
  width: 100%;
  min-height: 900px;
  position: relative;
  border: 1px solid #c8c7cf;
  display: none;
}
.outerwrapper h2, .outerwrapper h3, .outerwrapper p {
  padding: 10px 10px 0 10px;
  margin: 0;
}
.outerwrapper h3 {
  margin-left: 40px;
  padding-left: 0;
}
.outerwrapper .widget-footnote {
  margin-left: 40px;
  padding-left: 0;
  padding-bottom: 10px;
  font-size: 90%;
  line-height: 1.4em;
}
.outerwrapper .chart, .outerwrapper .widget-slider {
  position: relative;
}
.outerwrapper .chart .axis path, .outerwrapper .chart .axis line, .outerwrapper .widget-slider .axis path, .outerwrapper .widget-slider .axis line {
  fill: none;
  stroke: #666;
  shape-rendering: crispEdges;
}
.outerwrapper .chart text, .outerwrapper .widget-slider text {
  font-family: sans-serif;
  fill: #666;
  font-size: 13px;
  shape-rendering: crispEdges;
}
.outerwrapper .chart circle, .outerwrapper .widget-slider circle {
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.outerwrapper .hidden {
  opacity: 0;
  pointer-events: none;
}
.outerwrapper .chart .tick {
  stroke-dasharray: 2, 2;
}
.outerwrapper .chart .scatterGroup circle {
  cursor: pointer;
}
.outerwrapper .widget-slider .axis {
  pointer-events: none;
}
.outerwrapper .widget-slider .handle {
  cursor: pointer;
}
.outerwrapper .widget-tooltip {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 6px 10px 6px 15px;
  color: #ccc;
  background-color: #333;
  pointer-events: none;
  border-radius: 5px;
  font-size: 0.8em;
  line-height: 1.4em;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.outerwrapper .widget-tooltip p {
  padding: 0;
}
.outerwrapper .widget-tooltip span {
  font-weight: bold;
  color: #fff;
}
.outerwrapper .hidden {
  opacity: 0;
  pointer-events: none;
}
.outerwrapper .widget-selector {
  padding-left: 40px;
  padding-right: 20px;
}
.outerwrapper .widget-selector select {
  width: 100%;
}
.outerwrapper .key {
  padding-left: 40px;
  padding-right: 20px;
}
.outerwrapper .key ul {
  margin-bottom: 0;
}
.outerwrapper .key ul li {
  display: inline-block;
  padding: 3px 10px 1px 0;
  margin: 5px 8px 5px 0;
  border-bottom-width: 5px;
  border-bottom-style: solid;
}
.outerwrapper .key ul li label {
  cursor: pointer;
}
.outerwrapper input[type="checkbox"] {
  cursor: pointer;
  margin-right: 5px;
}
.outerwrapper input[type="checkbox"]:checked:after {
  display: inline-block;
  opacity: 1;
}
