.status-message {
  border: 1px solid #c00;
  background: #fac7c7;
  padding: 10px;
}

.outerwrapper {
  width: 100%;
  min-height: 900px;
  position: relative;
  border: 1px solid #c8c7cf;
}
.outerwrapper h2, .outerwrapper h3, .outerwrapper p {
  padding: 10px 10px 0 10px;
  margin: 0;
}
.outerwrapper .chart, .outerwrapper .widget-selector {
  position: relative;
}
.outerwrapper .chart .axis path, .outerwrapper .chart .axis line, .outerwrapper .widget-selector .axis path, .outerwrapper .widget-selector .axis line {
  fill: none;
  stroke: #666;
  shape-rendering: crispEdges;
}
.outerwrapper .chart text, .outerwrapper .widget-selector text {
  font-family: sans-serif;
  fill: #666;
  font-size: 13px;
  shape-rendering: crispEdges;
}
.outerwrapper .chart circle, .outerwrapper .widget-selector circle {
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.outerwrapper .hidden {
  opacity: 0;
  pointer-events: none;
}
.outerwrapper .chart .tick.major {
  stroke-dasharray: 2, 2;
}
.outerwrapper .chart .scatterGroup circle {
  cursor: pointer;
}
.outerwrapper .widget-tooltip {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 6px 10px 6px 15px;
  color: #ccc;
  background-color: #333;
  pointer-events: none;
  border-radius: 5px;
  font-size: 0.8em;
  line-height: 1.4em;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.outerwrapper .widget-tooltip p {
  padding: 0;
}
.outerwrapper .widget-tooltip span {
  font-weight: bold;
  color: #fff;
}
.outerwrapper .hidden {
  opacity: 0;
  pointer-events: none;
}
.outerwrapper .palette {
  display: inline-block;
  margin: 10px;
}
.outerwrapper input[type="checkbox"] {
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin-right: 5px;
  position: relative;
  width: 20px;
  -webkit-appearance: none;
  outline: none;
}
.outerwrapper input[type="checkbox"]:active, .outerwrapper input[type="checkbox"]:focus {
  background-color: #222;
}
.outerwrapper input[type="checkbox"]:after {
  content: "\2714";
  font-size: 1em;
  display: inline-block;
  left: 0.3em;
  position: relative;
  top: 0.15em;
  color: #fff;
  opacity: 0;
}
.outerwrapper input[type="checkbox"]:checked:after {
  display: inline-block;
  opacity: 1;
}
